.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
anaysis/data/derived_data/output-001
anaysis/data/derived_data/output-002
anaysis/data/derived_data/output-003
anaysis/data/derived_data/output-004
anaysis/data/derived_data/output-005

